body
{
	text-align: center;
	overflow-y: scroll;
}

.main-frame
{
	display: block;
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.navigation
{
	display: inline-block;
	margin: 10px 0px 0px;
	overflow: hidden;
}

.navigation a
{
	color: #CCCCCC;
	float: left;
	margin: 10px 15px;
	padding: 5px 5px;
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.45px;
	line-height: 16px;
}

.navigation a:hover
{
	color: #333333;
}

.navigation a.active
{
	color: #333333;
}

.textbox
{
	display: inline-block;
	width: 800px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: sans-serif;
	text-align: left;
	letter-spacing: 0.25px;
	line-height: 25px;
}

.image-layout
{
	display: inline-grid;
	width: 800px;
	margin-top: 10px;
	margin-bottom: 10px;
	grid-auto-columns: 63px;
	grid-auto-rows: 63px;
	grid-column-gap: 4px;
	grid-row-gap: 4px;
	overflow: hidden;
}

.image-layout a, .image-layout img
{
	width: 100%;
	height: 100%;
	border-radius: 8px;
	object-fit: cover;
}

.video-layout
{
	display: inline-grid;
	width: 800px;
	height: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.video-layout iframe
{
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 8px;
	object-fit: cover;
}

.contact-photo
{
	display: block;
	width: 300px;
	height: 300px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	margin-bottom: 30px;
	overflow: hidden;
}

.contact-photo img
{
	width: 100%;
	height: 100%;
	border-radius: 100%;
	object-fit: cover;
}

.contact-name
{
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 32px;
	letter-spacing: 0.25px;
}

.contact-mail
{
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 18px;
	letter-spacing: 0.25px;
}

.contact-linkedin
{
	width: 65px;
	height: 65px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	margin-bottom: 10px;
	overflow: hidden;
}